@model WebSite.Models.PerfilEmpresaViewModels
@using WebSite.App_Start
@{
    ViewBag.Title = "PerfilEmpresa";

    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}

<div class="container" ng-controller="PerfilEmpresaController">
   
    
    <div class="row" >
        <div class="col-md-3" style="background-color:white">
           
            <h1>@Model.razonSocial</h1>
            <img id="avatar" src="" class="img-responsive img-thumbnail fotoUsuario" />
            <h2>Calificación: @Model.calificacion</h2>
            <div id='jqxRating'></div>
           

            <h3>Dirección: @Model.direccion</h3>
            <h3>Teléfono: @Model.telefono</h3>
            </div>

        <div class="col-md-9" ng-controller="SchedulerController">


            <div class="container"><div id="scheduler"></div></div>
            
        </div>
    </div>

    <div class="row">
    
        <div ng-include="contenidoATraer"></div>
    
    </div>

    <div id="notificaciones"><div id="mensajeNotificacion"></div></div>
    <div id="loader"></div>
</div>
<script>
    //Cambiar por el id de la empresa que busque
    var retornarIdEmpresa = function () {
        return @Model.idEmpresa;
    };
    var retornarIdCliente = function () {
        return @usuarioLogin.Prestatario.idCliente;
    };
    var retornarCalificacion = function () {
        var num = Number(("@Model.calificacion").replace(",","."));
        return num;
    };

</script>
<script>
    $(document).ready(function () {

        var base64 = '@Convert.ToBase64String(Model.foto)';
        if (base64 != '') {
            var imgtag = document.getElementById("avatar");
            imgtag.src = 'data:image/png;base64,' + base64;
          
        }

    });
</script>
