@model WebSite.Models.PerfilClienteViewModels
@using WebSite.App_Start
@{
    ViewBag.Title = "Perfil Cliente";
    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}
<div class="container" ng-controller="PerfilClienteController">
    <div class="row">
        <div class="col-md-3" style="background-color:white">

            <h1>@Model.usuario </h1>
            <img id="avatar" src="" class="img-responsive img-thumbnail fotoUsuario" />
            <h2>Calificación: @Model.calificacion</h2>
            <div id='jqxRating'></div>


            <h4>e-mail: @Model.mail </h4>
            <h3>Teléfono: @Model.telefono</h3>
        </div>

        <div class="col-md-9" ng-controller="SchedulerController">


            <div class="container"><div id="scheduler"></div></div>

        </div>

    </div>
</div>

<script>
    //Cambiar por el id de la empresa que busque
    var retornarIdCliente = function () {
        return @Model.idCliente;
    };
    var retornarIdEmpresa = function () {
        return @usuarioLogin.Empresa.idEmpresa;
        return 10;
    };
    var retornarCalificacion = function () {
        var num = Number(("@Model.calificacion").replace(",", "."));
        return num;
    };

</script>
<script>
    $(document).ready(function () {

        var base64 = '@Convert.ToBase64String(Model.foto)';
        if (base64 != '') {
            var imgtag = document.getElementById("avatar");
            imgtag.src = 'data:image/png;base64,' + base64;

        }

    });
</script>
<div class="container" ng-controller="ComentariosRatingClienteController">

    <div ng-repeat="com in comentarios" class="row">
        <div class="col-sm-7">
            <hr />
            <div class="review-block">
                <div class="row">
                    <div class="col-sm-3">
                        <img ng-src="data:image/png;base64,{{com.foto}}" class="img-rounded" style="height:60px;width:60px">
                        <div class="review-block-name"><a href="#">{{com.usuario}}</a></div>
                        <div class="review-block-date">{{com.fecha_comentario | date:'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="review-block-rate" ng-open="verCalificacion()">
                            <span id="estrella{{com.Id_comentario}}"></span>
                        </div>
                        <div class="review-block-title">{{com.titulo}}</div>
                        <div class="review-block-description">{{com.comentario}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    DAJÁ TU COMENTARIO
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form accept-charset="UTF-8">

                            <div id='nuevaEstrella'></div>


                            <textarea class="form-control counted" name="messageTitulo" placeholder="Titulo" rows="1" style="margin-bottom:10px;" ng-model="nuevoTitulo"></textarea>
                            <textarea class="form-control counted" name="messageComentario" placeholder="Ingresa tu comentario" rows="5" style="margin-bottom:10px;" ng-model="nuevoComentario"></textarea>
                            <h6 class="pull-right" id="counter">320 caracteres restantes</h6>
                            <button class="btn btn-info" ng-click="guardarComentario()">Enviar comentario</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>