<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
@model WebSite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvido su Password?";
}

<div class="row filaRegistrarCliente">

    <div id="titulosRegistrar">
        <h2>@ViewBag.Title</h2>
        <h4>Ingrese su email.</h4>

    </div>

    <div style="padding-top:20px;">

    </div>
</div>
<div class="row filaOlvidoContraseña">
    <div class="col-md-12">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group grupoLogin">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-5 col-sm-5 control-label" })
                <div class="col-md-7 col-sm-7">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control loginInput margenBot15" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger loginError" })
                </div>
            </div>
            <div class="form-group">
                <div style="padding-bottom:20px;">
                    <input type="submit" class="btn btn-primary" value="Enviar" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
