<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GeoTurnos</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqwidgescss")
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script src="~/js/angulargeoturnos.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    
    

</head>
<body ng-app="geoturnos">
    <div class="navbar navbar-inverse navbar-fixed-top menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/resources/LOGO-FINAL.png" class="logoMenu"/>
            </div>
            <div class="navbar-collapse collapse barraMenu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li >@Html.ActionLink("Sacar Turno ya!", "BuscarTurnos", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <div class="row footer">
            
            <footer>
                <p>&copy; @DateTime.Now.Year - GeoTurnos</p>
            </footer>
        </div>
        
    </div>


    
   
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqwidgest")
    @Scripts.Render("~/bundles/jqwidgests")
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
    <script src="~/Scripts/jquery.confirm.min.js"></script>
    <script src="~/Scripts/loader.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
