@using WebSite.App_Start

@if ((Session["usuarioLogin"] != null) || (Session["usuarioLogin"] is UsuarioLogueado))
{
    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><img src="" id="miniavatar" class="img-responsive img-thumbnail" style="height:40px;width:40px;visibility:hidden" /></li>
            <li>
                @Html.ActionLink("Bienvenido " + usuarioLogin.Usuario + "!", "RedirectorDeCuenta", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }


    @*<script>
        $(document).ready(function () {

            var base64 = '@Convert.ToBase64String(@usuarioLogin.Empresa.logoEmpresa)';
            if (base64 != '') {
                var imgtag = document.getElementById("miniavatar");
                imgtag.src = 'data:image/png;base64,' + base64;
                imgtag.style = 'height:40px;width:40px;visibility:visible';
            }

        });
    </script>*@
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
